snippet svh
	Sven Hergenhahn

snippet @
	Sven Hergenhahn <sven.hergenhahn@1und1.de>

snippet gr
	Gruß,
	Sven

snippet mfg
	Mit freundlichen Grüßen,
	Sven Hergenhahn

snippet h
	Hallo `GetRecipient()`,

	${1:Text}
