snippet me
	`g:snips_author`

snippet n@ mailto address only
	`g:snips_author` <`g:snips_email`>

snippet @ mailto address wth name
	`g:snips_email`

snippet gr
	Gruß,
	`split(g:snips_author)[0]`

snippet mfg
	Mit freundlichen Grüßen,
	`g:snips_author`

snippet h
	Hallo ${1:`GetRecipient()`},

	${2:Text}
