snippet svh
	Sven Hergenhahn

snippet svhm
	Sven Hergenhahn <sven.hergenhahn@1und1.de>

snippet gsvh
	Gruß,
	Sven

snippet mfg
	Mit freundlichen Grüßen,
	Sven Hergenhahn

snippet h
	Hallo ${1:Name},

	${2}
